.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}



.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
}